  <div class="booyah-box col-10 offset-1">


<% @patients.each do |patient| %>

  <div>
    <h1><%= patient.name %></h1>
    <i>Age:  <%= patient.age %><i><br />
    <i>Gender:  <%= patient.gender %><i><br />
	<i>Home Address:  <%= patient.address %></i><br />
    <i>Phone Number:  <%= patient.phone_number %><i><br />
    <i>Email:  <%= patient.email %><i>

  </div>

  <hr />
<% end %>